/***
 * Custom stylesheet for talk
 * Licence Creative Commons CC0
 * Authors Julien Giovaresco and Willy Malvault
 ***/

.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}

/**
 * Clients
 */
.logo-slim img {
    height: 50px;
    margin-left: 20px !important;
}
.logo-slim img:first-child {
    height: 50px;
    margin-left: 0 !important;
}

.logo-fat img {
    height: 150px;
    margin-left: 50px !important;
}
.logo-fat img:first-child {
    height: 150px;
    margin-left: 0 !important;
}

.rails-logo {
    position: absolute;
    left: 10px;
    width: 200px;
    transform: rotate(330deg);
}

.postgres-logo {
    position: absolute;
    right: 10px;
    width: 200px;
    transform: rotate(30deg);
}

.nodejs-logo {
    position: absolute;
    left: 10px;
    width: 200px;
    transform: rotate(330deg);
}

.express-logo {
    position: absolute;
    left: 300px;
    width: 200px;
}

.mongo-logo {
    position: absolute;
    right: 10px;
    width: 200px;
    transform: rotate(30deg);
}

.rabbitmq-logo {
    position: absolute;
    width: 200px;
}

.aws-logo {
    position: absolute;
    left: 10px;
    width: 250px;
    transform: rotate(330deg);
}

.k8s-logo {
    width: 250px;
    transform: rotate(30deg);
}

.docker-logo {
    position: absolute;
    width: 250px;
}
