/***
 * Custom stylesheet for talk
 * Licence Creative Commons CC0
 * Authors Julien Giovaresco and Willy Malvault
 ***/

.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}

.bridge-logo {
    height: 150px;
}

/**
 * Legacy
 */
.legacy {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.rails-logo {
    width: 250px;
    transform: rotate(330deg);
}

.postgres-logo {
    width: 200px;
    transform: rotate(30deg);
}

/**
 * K8s
 */
.k8s {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.k8s-logo {
    width: 250px;
    transform: rotate(30deg);
}

/**
 * messaging-bugs
 */
.messaging-bugs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/**
 * dev-stacks
 */
.dev-stacks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/**
 * Clients
 */
.logo-slim img {
    height: 50px;
    margin-left: 20px !important;
}
.logo-slim img:first-child {
    height: 50px;
    margin-left: 0 !important;
}

.logo-fat img {
    height: 150px;
    margin-left: 50px !important;
}
.logo-fat img:first-child {
    height: 150px;
    margin-left: 0 !important;
}

.nodejs-logo {
    position: absolute;
    left: 10px;
    width: 200px;
    transform: rotate(330deg);
}

.express-logo {
    position: absolute;
    left: 300px;
    width: 200px;
}

.mongo-logo {
    position: absolute;
    right: 10px;
    width: 200px;
    transform: rotate(30deg);
}

.rabbitmq-logo {
    position: absolute;
    width: 200px;
}

.aws-logo {
    position: absolute;
    left: 10px;
    width: 250px;
    transform: rotate(330deg);
}

.docker-logo {
    position: absolute;
    width: 250px;
}

/**
 * Gif
 */

.eating-alice,
.alice-cards {
    display: block;
    width: 250px;
    margin-right: auto !important;
    margin-left: auto !important;
    /*position: absolute;*/
    /*left: 10px;*/
}
